<div  [style]="'padding-left:10%;padding-right:10%;'">
    <div class="itemCard itemCardMargin" *ngFor=" let x of itemArray">
        <div class="itemCardBody">
            <img [src]="x.image" class="itemCardImage">
            <!-- <img [src]="x.imageArray[0]" class="itemCardImage"> -->
        </div>
        <div class="flexBetween">
            <div class=" itemCardPadding">
                <b>{{x.name}}</b>
                <p>{{x.description}}</p>
            </div>
            <div class="flexList itemCardPadding">
                <button class="itemImageButton" >asd</button>
            </div>
        </div>
    </div>
</div>