<div class="itemCard itemCardMargin">
    <div class="itemCardHeader itemCardPadding keyValue">
        <div>
            <h2>{{address}}</h2>
        </div>

        <div class="itemCardControlBar">
            <select [style]="'width:40%;'" (change)="selectCollection(selecter.value)" #selecter>
                <option>items</option>
                <option>kiki</option>
                <option>test</option>
                <option>loreamFolder</option>
            </select>

            <button (click)="newTask()" class="itemButton itemCardPadding ">
                <mat-icon>add</mat-icon> 
                <b>Add Task</b>
            </button>
        </div>
    </div>

    <div class="itemCardBody " #{{address}}="cdkDropList" id="{{address}}" [cdkDropListData]="item$ | async"
        (cdkDropListDropped)="drop($event)" cdkDropList>
        
        <app-item-card (newItemEvent)="addItem($event,i)" [address]="address" *ngFor="let x of item$ | async ; let i = index;"
            [item]="x">
        </app-item-card>
    </div>
</div>