:root{
    --itemHeeight: 10ch;
}
.itemCard {
    /* min-width: 0px;
    width: 50vmin;
    max-width: 100%;
    max-height: 50vmin; */
    position: relative;
    /* max-height: 50vh; */
}
.itemCardBody {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: var(--imgL);
    position: relative;
    overflow: hidden;
}

.itemCardImageFrame {
    background-color: blue;
    /* height: 30vmin; */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: var(--imgL);
}

.itemCardImage {
    max-width: 100%;
    height: auto;
}

.itemCardImageFrameContent {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100%;
    height: var(--itemHeeight);
}

@media only screen and (min-width: 600px) {
    .itemCardImageFrameContent {}

    .itemCardImageFrameContent2 {}

    .itemCardImageFrameContent3 {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
    }

    .itemCard {
        min-width: 600px;
        width: 40vw;
    }
}

@media only screen and (min-width: 1500px) {}