:root{
    --itemHeeight: 10ch;
}
.itemCard {
    position: relative;
    border-radius: 0px;
    /* height: var(--imgM); */
}
.itemCardBody {
    height: 100%;
    /* display: grid; */
    /* grid-template-columns:  1fr 2fr; */
    /* height: var(--imgM); */
    position: relative;
    overflow: hidden;
}

.itemCardImageFrame {
    background-color: blue;
    /* height: 30vmin; */
    /* height: 100%; */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* height: var(--imgL); */
}

.itemCardImage {
    max-width: 100%;
    height: auto;
}

.itemCardImageFrameContent {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100%;
    height: var(--itemHeeight);
}

@media only screen and (min-width: 600px) {
    .itemCardImageFrameContent {}

    .itemCardImageFrameContent2 {}

    .itemCardImageFrameContent3 {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
    }

    .itemCard {
        /* min-width: 600px; */
    }
}

@media only screen and (min-width: 1500px) {}